.App {
  padding: 30px;
  background-color: #282c34;
  min-height: 100vh;
  font-size: 20px;
  color: white;
}

hr {
  width: 50vw;
  display: block;
  margin-left: 0;
  margin-right: 0;
}

.App-link {
  color: #61dafb;
}
